.venv/
accident_detector/__pycache__/
helpers/loop.mp4
README.md
.dockerignore
.DS_Store
.git
.github
.gitignore
.gitlab-ci.yml
.gitmodules
.idea
.data
.sass-cache
tests
README.md
Dockerfile
Dockerfile.archive
docker-compose.yml
